*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgba(103, 109, 201, 0.881);
    display: flex;
}

#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}

#part2{
    height: 100%;
    width: 67%;
    background-color: rgb(0, 60, 255);
    background-image: url(https://images.unsplash.com/photo-1770009079276-8599f7cc7102?q=80&w=709&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(123, 114, 117, 0.393);
}

#part3{
    height: 100%;
    width: 7%;
    /* background-color: rgb(0, 255, 17); */
}

#text-div{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 7%;
    top: 50%;
    transform: translate(0, -50%);
}

#text-div>h1{
    font-size: 95px;
    font-family: monument;
    font-weight: 800;
    letter-spacing: 8px;
    line-height: 78px;
    color: #fff;
    text-transform: uppercase;
}

#small-img-div{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1770131105102-054c3869f50a?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    right: -50%;
    top: -10%;
    transform-origin: 0% 0%;
    /* width: 100%; */
    /* background-color: red; */
}

#vertical-text h1{
    font-size: 70px;
    font-weight: 900;
    color: transparent;
    letter-spacing: 15px;
    
    font-family: monument;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}
